<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <!-- <ion-button (click)="closeMenu()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button> -->
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item button="true" (click)="miCuenta()"><ion-icon name="person-circle-outline" color="primary"></ion-icon><label color="primary">&nbsp;Mi cuenta</label></ion-item>        
        <ion-item *ngIf="idCurso != null && accesoNotificaciones" button="true" (click)="notificaciones()"><ion-icon name="notifications-outline" color="primary"></ion-icon>&nbsp;Notificaciones</ion-item>        
        <ion-item *ngIf="idCurso != null && accesoEventos" button="true" (click)="eventos()"><ion-icon name="calendar-outline" color="primary"></ion-icon>&nbsp;Eventos</ion-item>        
        <ion-item *ngIf="idCurso != null && accesoTest" button="true" (click)="misResultados()"><ion-icon name="ribbon-outline" color="primary"></ion-icon>&nbsp;Mis Resultados</ion-item>
        <!-- <ion-item *ngIf="idCurso != null && accesoTest" button="true" (click)="misEstadisticas()"><ion-icon name="bar-chart-outline" color="primary"></ion-icon>&nbsp;Mis Estadísticas</ion-item> -->
        <ion-item *ngIf="idCurso != null && accesoTest && accesoSimulacros" button="true" (click)="simulacros()"><ion-icon name="alarm-outline" color="primary"></ion-icon>&nbsp;Simulacros</ion-item>
        <ion-item *ngIf="idCurso != null && accesoClases" button="true" (click)="clases()"><ion-icon name="easel-outline" color="primary"></ion-icon>&nbsp;Clases</ion-item>
        <!-- <ion-item *ngIf="idCurso != null && (accesoSimulacros || accesoIngles || accesoPsicotecnicos || accesoPersonalidad || accesoLegislacion || accesoNivelPro)" color="primary" class="ion-text-center">MÁS CONTENIDO</ion-item> -->
        <ion-item *ngIf="idCurso != null && accesoIngles" button="true" (click)="materiaEspecifica('Inglés')"><ion-icon name="earth-outline" color="primary"></ion-icon>&nbsp;Inglés</ion-item>
        <!-- <ion-item button="true" (click)="materiaEspecifica('orto')"><ion-icon name="language-outline" color="primary"></ion-icon>&nbsp;Ortografía</ion-item> -->
        <ion-item *ngIf="idCurso != null && accesoPsicotecnicos" button="true" (click)="materiaEspecifica('Psicotécnico')"><ion-icon name="extension-puzzle-outline" color="primary"></ion-icon>&nbsp;Psicotécnicos</ion-item>
        <ion-item *ngIf="idCurso != null && accesoPersonalidad" button="true" (click)="materiaEspecifica('Personalidad')"><ion-icon name="person-outline" color="primary"></ion-icon>&nbsp;Personalidad</ion-item>
        <ion-item *ngIf="idCurso != null && accesoLegislacion" button="true" (click)="materiaEspecifica('Legislación')"><ion-icon name="library-outline" color="primary"></ion-icon>&nbsp;Legislación</ion-item>
        <ion-item *ngIf="idCurso != null && accesoNivelPro" button="true" (click)="materiaEspecifica('pro')"><ion-icon name="star-outline" color="primary"></ion-icon>&nbsp;Nivel PRO</ion-item>      
      </ion-menu-toggle>
    </ion-list>
    <!-- <ion-list *ngIf="cursos != null && cursos.length > 1">
      <ion-menu-toggle auto-hide="false" >

      </ion-menu-toggle>
    </ion-list> -->
    <!-- <ion-list *ngIf="cursos != null && cursos.length > 1">
      <ion-menu-toggle auto-hide="true">
        <ion-item *ngFor="let curso of cursos; let i = index" button="true" (click)="seleccionarCurso(curso)">
          <ion-avatar slot="start" >
            <img src="../assets/imgs/icon.png">
          </ion-avatar>
          <ion-label class="ion-text-wrap">{{curso.Nombre}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list> -->
  </ion-content>
</ion-menu>
