.card-header-ios {
    font-size: small;
    font-weight: 500;
    color: #333;
    padding: 16px;
}

.card-ios h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: bold;        
}

.comentario{
    white-space: normal !important; 
    text-align: justify;
}

.cerrado{
    background-color:red;
}

ion-col{
    color: gray;
}

ion-chip{
    font-size: xx-small;
}