<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Tema {{modulo.IdTema}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="docs">
    <ion-segment-button value="docs">        
      <ion-icon name="document-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="videos">
      <ion-icon name="logo-youtube"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="teoria">
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div id="fullscreenModuleDetail" slot="fixed"></div>

  <div [ngSwitch]="docs">

    <ion-list *ngSwitchCase="'docs'">     
      <ion-searchbar (ionInput)="getDocs($event)" placeholder="Buscar por título o etiqueta"></ion-searchbar>
      <ion-item icon-start *ngFor="let doc of listaDocs; let isOdd = odd" [class.odd]="isOdd" button="true" (click)="view(doc, doc.ID)">
        <ion-icon slot="start" name="document" [ngClass]="doc.Visto > 0 ? 'doc-read' : 'doc-unread' "></ion-icon>  
        <ion-label class="ion-text-wrap">     
          <ion-badge class="tema">Tema {{doc.IdTema}}</ion-badge>    
          <!-- Begin Etiquetas -->
          <ng-container *ngFor="let etiquetaDoc of doc.Etiquetas.split('][')">
            <ion-badge *ngIf="etiquetaDoc != ''" class="etiqueta" color="light">
              {{etiquetaDoc}}
            </ion-badge>
          </ng-container>
          <!-- End Etiquetas -->
          <br>
          {{doc.Nombre}}
        </ion-label>
        <!-- <ion-badge slot="end" [ngClass]="doc.IdTema != '' ? 'visible' : 'hidden' ">Tema {{doc.IdTema}}</ion-badge> -->
      </ion-item>
      <section class="ion-padding ion-text-center" *ngIf="listaDocs != null && listaDocs.length < 1">
        <img width="200" src="../assets/imgs/empty.png">
      </section>
    </ion-list>    

    <ion-list *ngSwitchCase="'videos'">  
      <ion-searchbar (ionInput)="getVideos($event)" placeholder="Buscar por título o etiqueta"></ion-searchbar>   
      <ion-item *ngFor="let video of listaVideos; let isOdd = odd" [class.odd]="isOdd" button="true" (click)="play(video)"> 
        <ion-icon slot="start" name="logo-youtube" [ngClass]="video.Visto > 0 ? 'video-viewed' : 'video-unviewed' "></ion-icon>       
        <ion-label class="ion-text-wrap">
          <!-- Begin Etiquetas -->
          <ion-badge class="tema">Tema {{video.IdTema}}</ion-badge> 
          <ng-container *ngFor="let etiquetaVideo of video.Etiquetas.split('][')">
            <ion-badge *ngIf="etiquetaVideo != ''" class="etiqueta" color="light">
              {{etiquetaVideo}}
            </ion-badge>
          </ng-container>
          <!-- End Etiquetas -->
          <br>
          {{video.Nombre}}
        </ion-label>
        <!-- <ion-badge slot="end" [ngClass]="video.IdTema != '' ? 'visible' : 'hidden' ">Tema {{video.IdTema}}</ion-badge> -->
      </ion-item>
      <section class="ion-padding ion-text-center" *ngIf="listaVideos != null && listaVideos.length < 1">
        <img width="200" src="../assets/imgs/empty.png">
      </section>
    </ion-list>    

    <ion-list *ngSwitchCase="'teoria'">
      <ion-searchbar (ionInput)="getTest($event)" placeholder="Buscar por título o etiqueta"></ion-searchbar>
      <!-- <button ion-item icon-start *ngFor="let test of listaTest; let i = index" (click)="configurarTest(listaTest[i], false)"> -->
      <ion-item *ngFor="let test of listaTest; let isOdd = odd; let i = index" [class.odd]="isOdd" button="true" (click)="hacerTest(listaTest[i])">
        <ion-icon *ngIf="listaTest[i].Pendiente == 0" slot="start"name="checkbox" [ngClass]="listaTest[i].Realizado > 0 ? 'test-done' : 'test-undone' "></ion-icon>
        <ion-icon *ngIf="listaTest[i].Pendiente > 0" slot="start" name="pause" class="test-pending" ></ion-icon>
        <ion-label class="ion-text-wrap">
          <!-- Begin Etiquetas -->
          <ion-badge class="tema">Tema {{test.IdTema}}</ion-badge> 
          <ng-container *ngFor="let etiquetaTest of test.Etiquetas.split('][')">
            <ion-badge *ngIf="etiquetaTest != ''" class="etiqueta" color="light">
              {{etiquetaTest}}
            </ion-badge>
          </ng-container>
          <!-- End Etiquetas -->
          <br>
          <ion-icon color="primary" name="information-circle-outline" *ngIf="listaTest[i].Instrucciones != '' && listaTest[i].Instrucciones != ' ' && listaTest[i].Instrucciones != null"></ion-icon>
          {{listaTest[i].Nombre}}
          <section class="info">
            <label><b>{{listaTest[i].NumPreg}}</b> preguntas</label>
            &nbsp;
            <ion-icon slot="start" name="repeat" [ngClass]="listaTest[i].Limite > 0 ? 'visible' : 'hidden' "></ion-icon><label [ngClass]="listaTest[i].Limite > 0 ? 'visible' : 'hidden' ">{{listaTest[i].Realizado}}/{{listaTest[i].Limite}}</label>          
            &nbsp;
            <ion-icon *ngIf="listaTest[i].Realizado > 0" slot="start" name="person" [ngClass]="listaTest[i].UltimoResultado < 5 ? 'test-fail' : 'test-pass' "></ion-icon><label *ngIf="listaTest[i].Realizado > 0" [ngClass]="listaTest[i].UltimoResultado < 5 ? 'test-fail' : 'test-pass' ">{{listaTest[i].UltimoResultado}} vs </label>          
            <ion-icon *ngIf="listaTest[i].Realizado > 0" slot="start" name="people" [ngClass]="listaTest[i].UltimoResultado < 5 ? 'test-fail' : 'test-pass' "></ion-icon><label *ngIf="listaTest[i].Realizado > 0" [ngClass]="listaTest[i].UltimoResultado < 5 ? 'test-fail' : 'test-pass' ">{{listaTest[i].Media}}</label>
          </section>                    
        </ion-label>
        <!-- <ion-badge slot="end" [ngClass]="listaTest[i].IdTema != '' ? 'visible' : 'hidden' ">Tema {{listaTest[i].IdTema}}</ion-badge> -->
      </ion-item>
      <section class="ion-padding ion-text-center" *ngIf="listaTest != null && listaTest.length < 1">
        <img width="200" src="../assets/imgs/empty.png">
      </section>
    </ion-list>    
  </div>

</ion-content>
